@import "tailwindcss";

@layer utilities {
  .neo-brutalist {
    border-width: 4px;
    border-color: #000;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
  }
  .neo-brutalist-interactive {
    border-width: 4px;
    border-color: #000;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
    transition-property: transform, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .neo-brutalist-interactive:hover {
    transform: translate(4px, -4px);
    box-shadow: 12px 12px 0px 0px rgba(0,0,0,1);
  }
  .neo-brutalist-interactive:active {
    transform: translate(-8px, 8px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
  }
}

.bg-dot-pattern {
  background-color: #f5eadd;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.06) 1.5px, transparent 2px);
  background-size: 24px 24px;
}
